<div class="container">
  <div class="menu left">
    <img id="logo" src="../../../assets/img/logo_esempio.png" alt="logo">
  </div>
  <div class="menu right">
    <div class="opening">
      Opening from monday to friday <br>
      from 9am to 7pm
    </div>
    <div id="location">
      <address>we are located in cambiano</address>
    </div>
    <div id="contacts">
      333-33333333 <br>
      <address>giorgia&#64;info.com</address>
    </div>
    <div class="socials">
      <a href="http://"><fa-icon id="linkedin" [icon]="faLinkedin"></fa-icon></a>
      <a href="http://"><fa-icon id="instagram" [icon]="faInstagram"></fa-icon></a>
    </div>
  </div>
</div>
