section {
  height: 500px;
  &.jumbotron {
    // background-color: aqua;
    display: flex;
    .jumbo {
      width: 50%;
      height: 100%;
      &.left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // position: relative;
        // background-color: #fafcfc;
        &.xsmall, &.small {
          display: none;
        }
        p {
          // position: absolute;
          // top: 50%;
          // left: 80%;
          // transform: translate(-50%, -50%);
          font-size: 1.5rem;
          width: 50%;
        }
      }
      &.right {
        &.xsmall, &.small {
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2.5rem;
        }
      }
    }
  }
  &.best-practise {
    // background-color: red;
    display: flex;
    align-items: center;
    p {
      font-size: 1.5rem;
      width: 60%;
      margin: auto;
    }
  }
  &.blog {
    // background-color: yellow;
    display: flex;
    align-items: center;
    p {
      font-size: 1.5rem;
      width: 60%;
      margin: auto;
    }
  }
}
