<!-- jumbotron with background image, maybe imgs about me at works, with my passions -->
<section class="jumbotron">
  <div class="jumbo left" [ngClass]="{xsmall: isXSmall, small: isSmall, medium: isMedium}">
    <p>Think about getting physiotherapy if you have an injury, or chronic pain that affects how you function everyday. A doctor may refer you to physiotherapy after surgery such as a hip replacement, or an event such as a heart attack or stroke.</p>
  </div>
  <div class="jumbo right" [ngClass]="{xsmall: isXSmall, small: isSmall, medium: isMedium}">
    <img src="../../../assets/img/jumbo_image_3.avif" alt="">
  </div>
</section>
<!-- a section with my favourite physio topics -->
<section class="best-practise">
  <p>
    <em>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Corporis quae ex dolorum eius omnis quidem non optio distinctio, saepe consequuntur,
      molestiae placeat vitae ullam quibusdam delectus, recusandae nemo aut? Esse.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Corporis quae ex dolorum eius omnis quidem non optio distinctio, saepe consequuntur,
      molestiae placeat vitae ullam quibusdam delectus, recusandae nemo aut? Esse.
    </em>
  </p>
</section>
<!-- something about my blog and about what i write -->
<section class="blog">
  <p>
    <em>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Corporis quae ex dolorum eius omnis quidem non optio distinctio, saepe consequuntur,
      molestiae placeat vitae ullam quibusdam delectus, recusandae nemo aut? Esse.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Corporis quae ex dolorum eius omnis quidem non optio distinctio, saepe consequuntur,
      molestiae placeat vitae ullam quibusdam delectus, recusandae nemo aut? Esse.
    </em>
  </p>
</section>
